
  <div class="dialog">
    <div>
      <h1>The App is up and running...</h1>
      <p>For more Information visit <a href="http://www.parking-friends.de">parking-friends.de</a></p>
    </div>
    <p>Proudly made in Würzburg, Germany.<br /><br />© parking-friends 2013–2014. All rights reserved.</p>
  </div>